body{
    overflow-x: hidden;
    background-color: black;
    margin: 0px;
    display: block;
}
/*this is anything having to do witht the top part of accoutn page*/
.top-banner{
    background-color: rgb(225, 222, 222);
}
.banner{
    height: 200px;
}
.nav-links{
    background: white;
    position: relative;
    height: 50px;
}
.nav-container{
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-left: 70px;
    padding-top: 14px;
}
.nav-container a{
    color: gray;
    text-decoration: none;
}
.background-img{
    background-image: url(RyanTestBackground.jpeg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 35%;
    height: 200px
}
.background-img img{
    width: 70px;
    margin-bottom: 30px;
    margin-left: 20px;
    background: rgba(204, 198, 198, .5)    
}
#logo{
    width: 70px;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
    background: rgba(204, 198, 198, .34);
    border-radius: 50px;
}
.profile-contain{
    display: flex;
    padding-left: 80px;
}
.profile-name{
    width: 200px;
    height: 60px;
    padding-top: 50px;
    display: inline-block;
    color: aliceblue;
    
}
.profile-name h1{

    margin: 0px;
    width: 100px;
    
}
.profile-pic{
    width: 125px;
}
.profile-pic img{
    width: 100px;
}
/*Anythign having to deal with the body content of account page*/
.account-body{
    background-color: lightgray;
    height: 100vh;

}
/*Having to deal with the footer of account page*/