body{
    margin: 0px;
}
/* top half css */
.top-half{
    height: 70vh; 
}

.banner{
    height: 300px;
    
    position: relative;
}
.lower-top{
    min-height: 160px;
    
}
.lower-container{
    display: flex;
    padding-left: 120px;
}
.img-container{
    margin-top: -150px;
    position: relative;
    
}


/* body of page*/

/* footer of page */