body{
    background-color: black;
    overflow-x: hidden;
}

/*this is all the header and stuff below this */
/**/
/**/
.link-list a{
    color: white;
    text-decoration: none;
}
.link-list{
    padding-top: 20px;
    padding-left: 40px;
}
#Login{
    padding-right: 100px;
    float: right;
}
#Main{
    margin-left: -43px;
}
#Account{
    padding-left: 15px;
}
.top-half{
    background-color: rgba(128,128,128,1);
    display: block;
    height: 200px;
    
}
.top-links{
    width: 90%;
    float: right;
    margin-left: -100px;
}
.logo{
    width: 80px;
    height: 70px;
    padding: 10px;
    padding-top: 0px;

}
.search-bar{
    justify-content: center;
   align-items: center;
    display: flex;
    padding-bottom: 3px;
    padding-left: 170px;
    padding-right: 170px;
    margin-top: 90px;

    
    
}
.search-input{
    background: white;
    height: 70px;
    box-shadow: none;
    border: 1px solid gray;
    width: 600px;
    border-radius: 20px;
    padding-left: 5px;
}

/* this is going to be the css for the logo*/

.logo img{
    width: 80px;
}

#top-picks img{
    width:100px;
    height: 100px;
}

/* anythign below is the body of the main page*/
/**/
/**/
/**/
.movie-cards{   
    background-color: white;
    box-sizing: border-box;
    
}
.movie-wrapper{
    display: block;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    
}
.movie-spacing{
    height: 40px;
}

.top-picks{
    min-height: 100vh;
}
#top-picks, #horror, #comedy, #romance{
    width: 24%;
    float: left;
}
.top-name, .horror-name, .comedy-name, .romance-name{
    height: 20px;
}
.horror{
    min-height: 100vh;
}

.comedy{
    min-height: 100vh;
}
.romance{
    min-height: 100vh;
}
/*Anything below this is for the footer*/
/**/
/**/
/**/

.footer{
    min-height: 10vh;
    background-color: green; 
}
